<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order Complete Succesfully</h2>
        <p>Check your order in order section of profile</p>
        <hr />
        <p>Thank You!</p>
    </div>
</div>
